.poll-votes{
    float: right;
    margin-right: 20px;
}

.poll-actions{
    margin-top: 20px;
}

.poll-actions .btn{
    margin-right: 10px;
}

.create-form-btn{
    padding-top: 10px;
}

.no-poll-active{
    margin-bottom: 20px;
}